.gradient{
    background: linear-gradient(0deg, #FAFAFA 50%, rgba(253,196,3,1) 90%);
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    gap: 20px;
}

.texto{
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}